
/*style for header in laptop*/
header{
    margin-left: 2%;
    margin-right: 2%;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(-110deg, rgb(252, 145, 163), rgb(222, 238, 247), white);
}
.logo-img{
    display: flex;
    align-items: center;
}
.img-header{
    height: 12vmin;
}
nav div a{
    font-size: 1.7rem;
    text-decoration: none;
    color: black;
    width: 20%;
}
nav ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 60%;
} 
nav ul li a {
    text-decoration: none;
    width: 20%;
    color: black;
    font-size: 1.7rem;
}
#lang{
    border: white 1px solid;
    border-radius: 10px;
    background-color:rgb(252, 145, 163);
}
#lang-mob{
    border: white 1px solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.menu-adaptive{
    position: absolute;
    right: 5%;
    top: 15px;
    display: none;
}
.burger1{
    height: 2px;
    width: 30px;
    background: black;
    border-radius: 25px;
}
.burger2{
    height: 2px;
    width: 30px;
    background: black;
    margin-top: 4px;
    border-radius: 25px;
}
.burger3{
    height: 2px;
    width: 30px;
    background: black;
    margin-top: 4px;
    border-radius: 25px;
}
.adaptive{
    display: none;
}
.close{
    position: absolute; 
    right: 5%; 
    top: 50px;
}
.left{
    height: 2px;
    width: 20px; 
    transform: rotate(45deg); 
    background: grey; 
    position: absolute; 
    border-radius: 25px;
}
.right{
    height: 2px; 
    width: 20px; 
    transform: rotate(-45deg); 
    background: grey; 
    border-radius: 25px;
}
.mob-menu{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.mob-menu div{
    align-items: center;
    text-align: center;
    background-image: linear-gradient(-110deg, rgb(252, 145, 163), rgb(222, 238, 247), white);
}
.mob-menu div div a{
    line-height: 1.5;
    text-decoration: none;
    color: black;
}
.yellow-line{
    height: 2px; 
    width: 250px; 
    position: absolute; 
    background: yellow;
    animation: ly;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}  
@keyframes ly{
    0% {left: 2%;}
    100% {left: 70%;}
}

/*style for header in phone*/
@media only screen and (max-width: 1235px) {
    .logo-img img{
        display: none;
    }
    nav{
       justify-content: flex-start;
    }
    nav ul{
        display: none;
    }
    #lang{
        display: none;
    }
    .menu-adaptive{
        display: block;
    }
    .menu-adaptive:hover +.adaptive{
        display: block;
    }
    .menu-adaptive:hover {
        opacity: 0;
    }    
    .close-adaptive:hover +.adaptive{
        display: none;
    }    
    .yellow-line {
        display: block;
        width: 50px; 
    }
}

/* style for main in laptop */
main{
    padding-left: 2%;
    padding-right: 2%;
}
article{
    margin-top: 20px;
    display: block;
}
.card-news{
    display: flex;
    justify-content: start;
}
.img-for-news{
    margin: 2%;
    height: 40%;
    width: 35%;
}
.text-for-news{
    margin: 2%;
}
.headline{
    font-size: 5em;
}
.heading{
    font-size: 2em;
    margin-top: 1%;
    text-align: end;
    color: rgb(252, 145, 163);
    font-style: italic;
}
.part-start{
    font-size: 2em;
}
.more-hide{
    display: block;
}
.more-text a{
    text-decoration: none;
}
.hide-text{
    display: none;
}
.part-end{
    display: none;
    font-size: 2em;
}
.more-text:hover + .hide-text {
    display: block;
    font-size: 2em;
    color: black;
}
/* style for main in phone */
@media only screen and (max-width: 1235px) {
    .card-news{
        display: block;
    }
    .img-for-news{
        width: 96%;
    }
    .headline{
        font-size: 2em;
    }
    .heading{
        font-size: 1em;
    }
    .part-start{
        font-size: 1em;
    }
}

/*style for comments*/
.comments{
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}
.comments-line{
    padding: 10px;
    border-top: gray 1px solid;
}
.comments form textarea {
    border: 1px solid gray;
    width: 100%;
}

/* style for footer*/
.main-footer{
    border-top: 2px solid #d657c1;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2em;
}
.main-footer a, .login a, .text-for-footer{
    text-decoration: none;
    color: lightgray;
}
/* style for footer in phone */
@media only screen and (max-width: 1235px) {
    .main-footer{
        font-size: .8em;
    }
}
